<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>geeks for geeks filter</h1>
    <h1>{{value}}</h1>
    <h1>{{ value | add:"2" }}</h1>
    <p>{{jai}}</p>
    <p>{{ jai | addslashes }}</p>
    <h1>{{name}}</h1>
    <h1> {{ name | title }}{{ name | capfirst }} "{{ name | center:"50" }}"</h1>
    <h1>{{date}}</h1>
    <h1>{{ date | date:"D d M Y" }} {{ date | time:"H:i" }} </h1>
    <h1>{{ it | default:"nothing" }}</h1>
    <h1>{{ info | dictsort:"age" }}</h1>
    <h1>{{ number | divisibleby:"3" }}</h1>
    <h1>{{ file | filesizeformat }}</h1>
    <h1>{{ lst | first }} </h1>
    <h1>{{ lst | last }}</h1>
    <h1>{{ st | join:" -- " }} {{ st | length }}</h1>
    <h1>{{ numbers | linenumbers }} </h1>
    <h1>{{ versity | lower }}</h1>
    <h1>{{ versity | make_list }}</h1>
    <h1>{{ lst | random }} </h1>
    <h1>{{ lst | slice:":2" }}</h1>
    <h1>{{ versity | slugify }} </h1>
    <h1>{{ versity | upper }} </h1>
    <h1>{{ versity | wordcount }} </h1>
    <h1> {{ versity | truncatechars:7 }}.</h1>


</body>
</html>